* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'BioRhyme', 'Domine', 'Oswald', sans-serif;
    background-color: white;
    color: #4d4d4d; /* Dark gray color for text */
}

.container-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.container {
    width: 96%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    height: 120px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
}

.logo {
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    max-height: 90px;
    margin-left: 30px;
    width: auto;
}

.navigation {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.navigation a {
    text-decoration: none;
    color: DarkGreen;
    font-size: large;
    font-weight: bold;
}

.navigation a:hover {
    color: black;
}

.auth-search {
    width: 28%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth {
    display: flex;
    justify-content: center;
    width: 100%;
}

.auth a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-left: 15px; /* Fixed margin to ensure consistent spacing */
    transition: color 0.3s ease;
}

.auth a:hover {
    color: darkgreen;
}

.search {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.search input {
    width: 80%; /* Increased width for Search bar */
    border: 2px solid darkgreen;
    padding: 5px;
    font-size: 16px;
}

.search input:focus {
    border-color: DarkGreen;
}

.mobile-menu {
    display: none;
    height: 120px; /* Adjust height to match header height */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.material-symbols-outlined {
    margin-right: 50px;
    display: none; /* Hide by default */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Material Symbols Outlined', sans-serif;
    font-variation-settings:
    'FILL' 0,
    'wght' 700,
    'GRAD' 200,
    'opsz' 48;
    color: DarkGreen;
    cursor: pointer;
}

@media (max-width: 768px) {
    .logo img {
        max-height: 60px;
        margin-left: 30px;
        width: auto;
    }
    .navigation {
        display: none;
    }

    .mobile-menu {
        display: flex;
    }

    .auth-search {
        display: none;
    }

    .auth {
        justify-content: center;
    }

    .search {
        display: none; /* Hide search bar on smaller screens */
    }

    .material-symbols-outlined {
        display: block; /* Show Google icon on mobile */
        margin-top: 5px; /* Adjust margin for spacing */
    }
}

@media (min-width: 1024px) {
    .container-wrapper {
        padding-left: calc((100% - 1024px) / 2);
        padding-right: calc((100% - 1024px) / 2);
    }
}

.hero-banner {
    width: 100%;
    height: 400px; /* Adjustable height */
    background-color: #f2f2f2; /* Background color before the image loads */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Same margin as the header */
}

.hero-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.embedded-video {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    margin-top: 20px;
}

.embedded-video h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.video-wrapper {
    margin: 20px auto;
    width: calc(100% - 200px); /* 100px margin on each side */
    max-width: 800px;
    position: relative;
}

.description {
    text-align: left;
}

.description p {
    margin-bottom: 10px;
    text-align: center;
}

.more-link {
    text-decoration: none;
    color: DarkGreen;
    font-weight: bold;
    cursor: pointer;
}

.cta-button {
    text-decoration: none;
    color: white;
    background-color: darkgreen;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.cta-button:hover {
    background-color: black;
}

.card-section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    width: 400px; /* Fixed width */
    margin: 10px; /* Margin between cards */
    position: relative;
    overflow: hidden;
    flex: 1 1 200px; /* Flex properties for responsive layout */
}

.card img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
}

.overlay:hover {
    opacity: 1;
}

.action-button {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    background-color: darkgreen;
    border-radius: 5px;
}

.action-button:hover {
    background-color: black;
}

.faq {
    width: 100%;
    margin-top: 20px;
}

.faq h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.accordion {
    max-width: 800px;
    margin: 0 auto;
}

.accordion-item {
    border: 1px solid darkgray;
    border-radius: 5px;
    margin-bottom: 10px;
    overflow: hidden;
}

.accordion-header {
    background-color: white;
    cursor: pointer;
    padding: 15px;
    text-align: left;
    font-weight: bold;
    border: none;
    width: 100%;
}

.accordion-header:hover {
    background-color: darkgreen;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: white;
}

.accordion-content p {
    margin: 0;
}

.footer-container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.footer-section {
    flex: 1;
    margin: 20px;
    min-width: 200px;
}

.footer-section h3 {
    margin-bottom: 20px;
}

.footer-section p,
.footer-section a,
.footer-section ul {
    margin-bottom: 10px;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-section a:hover {
    color: #ffa500;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section form {
    display: flex;
    flex-direction: column;
}

.footer-section form input[type="email"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.footer-section form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    cursor: pointer;
}

.footer-section form button:hover {
    background-color: black;
}

.footer-bottom {
    background-color: #222;
    padding: 20px 0;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
}
